/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Variables */
:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Merriweather', serif;
    --nav-background: #396e94;
    --nav-link-color: #fff;
    --nav-hover-link-color: #f0f0f0;
    --nav-hover-background: #a43312;
    --text-color: #333;
    --background-color: #f4f4f9;
}

/* Body Styles */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px; /* Adjust the height to fit the header */
    max-width: 100px; /* Adjust the width to fit the header */
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px 10px;
    font-family: var(--heading-font);
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    font-family: var(--heading-font);
}

/* Article Styles */
article {
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
}

article img {
    float: right;
    margin: 0 0 10px 10px;
    width: 150px;
}

/* Section Styles */
section {
    padding: 20px 0;
}

section h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

section p {
    font-family: var(--paragraph-font);
}

section img {
    width: 100%;
    max-width: 200px;
    margin: 10px;
}

/* Footer Styles */
footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a img {
    width: 30px;
    margin: 0 5px;
}

footer a {
    text-decoration: none;
}
