/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --accent1-color: #A43312;
    --accent2-color: #381D2A;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    color: #212529;
    background-color: #f8f9fa;
}

header {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 1rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p {
    margin-bottom: 1rem;
}

nav {
    background-color: var(--nav-background-color);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    display: inline-block;
}

nav a:link {
    color: var(--nav-link-color);
}

nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
